<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass>  -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-ng-content>
  <div class="titulo">Título do Card</div>
  <div class="corpo">Conteudo do Card</div>
</app-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>
