<!-- <p>Título: {{ livro.titulo }}</p>
<p>Estrelas: {{ livro.rating }}</p>
<p>Páginas: {{ livro.numeroPaginas }}</p>
<p>Preço: {{ livro.preco }}</p>
<p>Data de Lançamento: {{ livro.dataLancamento }}</p>
<p>Url: {{ livro.url }}</p> -->

<h2>Exemplo de pipes</h2>

<h3>Exemplo 1</h3>
<ul class="list-group">
  <li class="list-group-item">Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</li>
  <li class="list-group-item">Estrelas: {{ livro.rating | number:'1.1-1' }}</li>
  <li class="list-group-item">Páginas: {{ livro.numeroPaginas | number }}</li>
  <li class="list-group-item">Preço: {{ livro.preco | currency:'BRL' }}</li>
  <li class="list-group-item">Data de Lançamento: {{ livro.dataLancamento | date }}</li>
  <li class="list-group-item">Url: {{ livro.url }}</li>
  <br>
  <li class="list-group-item">Livro: {{ livro | json }}</li>
</ul>
<br>

<h3>Exemplo 2</h3>
<input type="text" [(ngModel)]="filtro" placeholder="Filtro..."><br><br>
<h4>Pipe Puro</h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let liv of livros | filtroArray:filtro">
    {{liv}}
  </li>
</ul><br><br>
<h4>Pipe Impuro</h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{liv}}
  </li>
</ul><br><br>
<h4>Forma Correta de usar filtro (!pipe)</h4>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let liv of obterLivro()">
    {{liv}}
  </li>
</ul><br><br>
<h4>Add</h4>
<input type="text" placeholder="Adicionar..." #livroInput>
<button
class="btn btn-primary"
(click)="addLivro(livroInput.value)">
Add
</button><br><br>

<p>{{valorAsync | async }}</p>
<p>{{valorAsync2 | async }}</p>

<br><br><br>
