<br>
<div class="card mt-3">
  <div class="card-header">
    <div class="float-left" style="float:left">
      <h4>Courses</h4>
    </div>
    <div class="float-right" style="float:right">
      <button type="button" class="btn btn-primary" routerLink="new">Add Course</button>
      {{ ' ' }}
      <button type="button" class="btn btn-dark" (click)="onRefresh()">Refresh</button>
    </div>
  </div>
  <div class="card-body">
    <!-- <div class="spinner-grow text-primary" *ngIf="courses$"></div> -->
    <table class="table" *ngIf="courses$ | async as courses; else loadingError">
      <!-- ao carregar a table, a variável local 'courses' vai receber o courses$, ficando disponível em todo template -->
      <thead>
        <tr>
          <th>#</th>
          <th>Courses</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <th>{{ course.id}}</th>
          <th>{{ course.name}}</th>
          <span class="float-right" style="float:right">
            <button class="btn btn-outline-warning mb-1 btn-sm">
              Refresh
            </button>
            {{ ' ' }}
            <button class="btn btn-outline-danger mb-1 btn-sm">
              Delete
            </button>
          </span>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        Erro ao carregar cursos. Tente novamente
      </div>
      <ng-template #loading>
        <div class="spinner-border text-primary"></div>
      </ng-template>
    </ng-template>

  </div>
</div>
