<br />
<div class="card mt-3">
  <div class="card-header">
    <div class="float-left" style="float: left">
      <h4>Courses</h4>
    </div>
    <div class="float-right" style="float: right">
      <!-- Add -->
      <!--  <button type="button" class="btn btn-primary" (click)="onAdd()">
        Add Course
      </button>
      {{ " " }} -->
      <!-- Modal Add -->
      <button type="button" class="btn btn-primary" (click)="onAdd2(addForm)">
        Add Course
      </button>
      <ng-template #addForm>
        <generic-form [title]="title" (changed)="changedItem($event)"></generic-form>
      </ng-template>
      {{ " " }}
      <button type="button" class="btn btn-dark" (click)="onRefresh()">
        Refresh
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table" *ngIf="courses$ | async as courses; else loading">
      <!-- ao carregar a table, a variável local 'courses' vai receber o courses$, ficando disponível em todo template -->
      <thead>
        <tr>
          <th>#</th>
          <th>Courses</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <th>{{ course.id }}</th>
          <th>{{ course.name }}</th>
          <span class="float-right" style="float: right">
            <!-- Edit -->
            <!-- <button
              class="btn btn-outline-warning mb-1 btn-sm"
              (click)="onEdit(course.id)"
            >
              Edit
            </button>
            {{ " " }} -->
            <!-- Edit 2 -->
            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit2(editForm)">
              Edit
            </button>
            {{ " " }}
            <ng-template #editForm>
              <generic-form [course]="course" [title]="title" (changed)="changedItem($event)"></generic-form>
              <!--  <edit-course [course]="course"></edit-course> -->
            </ng-template>

            <!-- Delete -->
            <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(course)">
              Delete
            </button>
          </span>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <div *ngIf="loadspinner">
        <div class="spinner-border text-primary"></div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete course?</p>
    <button type="button" class="btn btn-default" (click)="OnConfirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="OnDeclineDelete()">No</button>
  </div>
</ng-template>