<br />
<div class="background">
  <div class="container">
    <div class="float-left" style="float: left">
      <h4>Courses</h4>
    </div>
    <div class="float-right" style="float: right">
      <button type="button" class="btn btn-primary" (click)="onAdd(addForm)">
        <a>
          <i class="bi bi-plus-square"></i>
        </a>
      </button>
      <ng-template #addForm>
        <generic-form [title]="title" [successMsg]="successMsg" [errorMsg]="errorMsg" (changedList)="changedItem($event)">
        </generic-form>
      </ng-template>
      {{ " " }}
      <button type="button" class="btn btn-dark" (click)="onRefresh()">
        <a><i class="bi bi-arrow-repeat"></i></a>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table" *ngIf="courses$ | async as courses; else loading">
      <!-- ao carregar a table, a variável local 'courses' vai receber o courses$, ficando disponível em todo template -->
      <thead>
        <tr>
          <th>#</th>
          <th>Courses</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <th>{{ course.id }}º</th>
          <th>{{ course.name }}</th>
          <span class="float-right" style="float: right">
            <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(editForm)">
              <a><i class="bi bi-brush"></i></a>
            </button>
            {{ " " }}
            <ng-template #editForm>
              <generic-form [course]="course" [title]="title" [successMsg]="successMsg" [errorMsg]="errorMsg"
                (changedList)="changedItem($event)"></generic-form>
            </ng-template>

            <!-- Delete -->
            <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(course)">
              <a><i class="bi bi-trash"></i></a>
            </button>
          </span>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <div *ngIf="loadspinner">
        <div class="spinner-border text-primary"></div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete course?</p>
    <button type="button" class="btn btn-default" (click)="OnConfirmDelete()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="OnDeclineDelete()">
      No
    </button>
  </div>
</ng-template>