<!-- Tabela -->
<h1>Lista de Cursos - Componente Pai</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Curso</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos">
      <td>{{curso}}</td>
    </tr>
  </tbody>
</table>
<!-- Input e botão para criar curso -->
<div>
  <div class="input-group add">
    <div class="input-group-prepend add">
      <input type="text" #cursosInput>
      <button class="btn btn-warning"
      (click)="onAddCurso(cursosInput.value)">
      Add
    </button>
  </div>
</div>
<br>

<app-filho
[cursos]="cursos"
(adicionouCurso)="AdicionouNofilho($event)"></app-filho>
