<h1>Módulo de Rotas</h1>
<div class="form-check itens">
  <input type="checkbox" value="" id="flexCheckDefault" checked>
  <label for="flexCheckDefault">
    Introdução
  </label>
</div><br>
<div class="form-check itens">
  <input type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Configurando rotas simples
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    RouterLink: definindo rotas no template
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Aplicando CSS em rotas ativas
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Definindo e extraindo parâmetros de roteamento
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Rotas Imperativas: Redirecionamento via código
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Definindo e extraindo parâmetros de url
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Criando um módulo de Rotas
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Criando um módulo de funcionalidades
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Rotas filhas
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Lazy Loading
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Tela de login, como não mostrar o Menu
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Guarda de Rotas: CanActivate
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked" checked>
  <label for="flexCheckChecked">
    Guarda de Rotas filhas: CanActivateChild
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked">
  <label for="flexCheckChecked">
    Guarda de Rotas: Resolve carregar dados antes de ativar a rota
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked">
  <label for="flexCheckChecked">
    Guarda de Rotas: CanLoad
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked">
  <label for="flexCheckChecked">
    Definindo rota padrão e wildcard(rota não encontrada)
  </label>
</div><br>
<div class="form-check itens">
  <input  type="checkbox" value="" id="flexCheckChecked">
  <label for="flexCheckChecked">
    Estilo de url: HTML5 ou #
  </label>
</div><br>
