.excel {
    margin-top: 10px; 
    background-color: #217346; 
    color: #fff;
    border-radius: 10px;
}

.pdf {
    margin-top: 10px; 
    background-color: #b30b00; 
    color: #fff;
    border-radius: 10px;
}

.upload {
    margin-top: 10px; 
    color: #fff;
    border-radius: 10px;
}