.highlight {
  color: blue;
  background-color: rgb(255, 189, 34);
  font-weight: bold;
}

body {
  font-family: Raleway;
  background-color: #222;
  color:#fff;
  text-align: center;
  font-size: 1.4em;
}

h1, h2, h3 {
  font-weight: 200;
}

h2, h3 {
  margin: 0;
}

table {
  text-align: center;
  border: "1";
}

button {
  margin: 15px;
  height: 40px;
  width: 80px;
  border-radius: 10%;
  background-color: #0c6262;
  color: #fff;
  font-size: 1.2rem;
  align-items: center;
}
